/* Global Styles */
body,td,th {font-family: Verdana; }
body {background-color: #CCCCCC; }
td {font:11px verdana; color:#000000; }
a {color: #ffffff; text-decoration:none; font-weight:bold; }
a:hover {color: #CC3300; text-decoration:underline; }


/* ID Styles */
//#Layer1 {position:relative; text-align: left; width: 10px; top: -30px; padding: 0px 0px 0px 0px; background: #FFFF99; }

#navigation a {color:#ffffff; text-decoration:none; font-weight:bold; }
#navigation a:hover {color: #CC3300; text-decoration:underline; }
#padding {padding:20px 5px 20px 5px; }

/* Class Styles */
//.layer1-head {font-family: verdana; font-size: 14px; font-style: italic; font-weight: bold; }	
.footer {color: #000000; font-size: 9px}
.sidebarText {font:11px verdana; color: #ffffff; line-height:18px; font-weight: bold; }
.bodyText {font:12px verdana; line-height:16px; color:#333333; }
.bodyText a {color: #333333; font-weight: bold;}
.pagetitle {font:19px georgia; font-weight:bold; color: #CC3300; letter-spacing:.1em; line-height:26px; }
.subHeader {font:14px georgia; color: #000000; font-weight:bold; line-height:20px; letter-spacing:0.1em; }
.navText {color: #FFFFFF; font-size: 11px; font-weight: bold; }
